extends layouts/main

block content
    .from__container
        form(action=routes.login, nethod="post")
            input(type="email", name="email", placeholder="Email")
            input(type="password", name="password", placeholder="Password")
            input(type="submit", value="Log In")
        include partials/socialLogin